<!DOCTYPE html><html><head><title>HLSDump test</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta charset="utf-8"></head><body>

<script src="../../lib/WebModule.js"></script>
<script>
WebModule.VERIFY  = false; // __WEBMODULE_VERIFY__;
WebModule.VERBOSE = false; // __WEBMODULE_VERBOSE__;
WebModule.PUBLISH = true;  // __WEBMODULE_PUBLISH__;
</script>

__MODULES__
__WMTOOLS__
__SOURCES__

<input type="checkbox" id="m3u8" value="m3u8" checked />m3u8
<input type="checkbox" id="ts" value="ts" checked />ts
<input type="checkbox" id="aac" value="aac" checked />aac
<input type="checkbox" id="mp4" value="mp4" checked />mp4
<input type="checkbox" id="pcm" value="pcm" checked />pcm
<hr />
<input id="url" type="text" value="" placeholder="http://.../playlist.m3u8" style="width:40%" />
<input type="button" value="rec" onclick="__rec()" />
<input type="button" value="stop" onclick="__stop()" />

<script>
var rec = null;
function __rec() {
    var url = document.querySelector("#url").value || "";

    rec = new HLSDump(url, {
        dir:            "", // mkdir "test/browser/{timestamp}/"
        autoStart:      false,
        bulkDuration:   1,
        readyCallback:  function() {
            rec.start();
        },
        endList:        true,
        m3u8:           !!document.querySelector("#m3u8").checked,
        ts:             !!document.querySelector("#ts").checked,
        aac:            !!document.querySelector("#aac").checked,
        mp4:            !!document.querySelector("#mp4").checked,
        pcm:            !!document.querySelector("#pcm").checked,
    });
}
function __stop() {
    if (rec) {
        rec.stop();
    }
}
</script>

</body></html>

